# Variáveis para o container do Postgres (Desenvolvimento)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=mydb

# URL Prisma
DATABASE_URL="postgresql://postgres:password@db:5432/mydb?schema=public"

FRONTEND_URL=https://seu-site.com.br

PORT=3000
NODE_ENV=development

# JWT Configurations
JWT_SECRET="sua_chave_secreta"
JWT_EXPIRES_IN="90d"
JWT_COOKIE_EXPIRES_IN=90

# Email Template Configurations
COMPANY_NAME="Sua Empresa Ltda"
SYSTEM_NAME="Sistema de Gestão"
EMAIL_HEADER_TITLE="Sistema de Template"

# Configurações do envio de emails
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=seu_email_no_brevo@exemplo.com
SMTP_PASS=sua_chave_smtp_gerada_no_painel
EMAIL_FROM="API Template <email-cadastrado-no-provedor-de-envio-de-email@mail.com>"