# Variáveis para o container do Postgres (Desenvolvimento)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=mydb

# URL Prisma
DATABASE_URL="postgresql://postgres:password@db:5432/mydb?schema=public"

FRONTEND_URL=https://seu-site.com.br

PORT=3000
NODE_ENV=development

JWT_SECRET="sua_chave_secreta"
JWT_EXPIRES_IN="90d"
JWT_COOKIE_EXPIRES_IN=90